/* report-lucido css*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto:wght@300;500&display=swap');
body{
	height:100%;
	font-size:16px; color:#555555;font-family:Roboto; font-weight:0;line-height:1.4
}
*{margin:0; padding:0;}
img{border:0 none;vertical-align: middle;}

p, h1, h2, h3, h4, h5, h6, ul{margin:0; padding:0;}
a{color:#6b9624; text-decoration:none; cursor: pointer;}
a:hover{text-decoration:underline;}
main{margin-top:84px;}
li{list-style:none;}
table{ font-size:13px; /*text-align:center;*/}
td{height:30px; padding:0 5px; }
.tableBorder{border: 1px solid #5cb726; }
.rowdata:hover td{background-color:#e4f9e3;color:#000}
.rowdata-menu {display: inline-block; width:150px;}
.headrow{background-color:#5cb726; color:black;}
.mb-10{margin-bottom:10px;}
.mb-30{margin:100px 30px 0px 30px;}
.pb-10{padding:0 10px;}
.bg-color{background-color:#5cb726; border:1px solid #5cb726; color:#FFFFFF;transition: ease-out 0.4s;}
.bg-color:hover{box-shadow: inset 400px 0 0 0 #FFFFFF; color: #555555;}
.ftsize-14{font-size:14px;}
.ftsize-12{font-size:12px;}
.headrow2{background-color:#94b182; color: #000000 !important; font-family:Roboto !important; }
.boxProSubHeading{color: #000000 !important; font-family:Roboto !important; }
h3{
	font-size:20px;
	font-weight:500;
}

.size_txt_center { text-align: center;}

.rowalt1 {background-color: gainsboro;}
.rowalt2 {background-color: #F7F7F7;}
.display_table {
    background: gainsboro;
}
.display_table_alt {
    background: #F7F7F7;
}
.display_table_child{
	background: #bac0c6; 
}
.display_table_alt_child{
	background: #fff;
}
.main_container{
	float: left;
	width: 100%;
	clear: both !important;
	position: fixed;
	background:#ffffff;
	z-index: 99;
	border-bottom: 2px solid #e7e7e7;
	/*height: 162px;*/
}
.sub_container{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}
.header{
	margin: 0px 30px;
	text-align: center;
}
#container {
   	width: 100%;
	height: 100%;
	display: flex;  /* Magic begins */
   justify-content: center;
   align-items: center;
}
#container > * {
  min-width: 0;   /* Widths ignore the content */
  height: 134px;
}

#left {
 flex: unset;        /* Fill available space */  
}

#middle {
	flex: 1;
	text-align: center;
	position: relative;
}
.middle-col{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#right {
 	flex: unset;        /* Fill available space */
	text-align: center;
}
.logo_img{
	float: left;
	/*margin-top: 10px;*/
	position: relative;
}
.logo_display{
	display: table-cell;
	height: 134px;
	vertical-align: middle;
}
.contact_number{
	float: right;
	padding-top: 12px;
}
.needhelp{
	font-size: 20px;
	font-weight:500;
	color: #6b9624;
}
.needhelp_call{
	font-size: 15px;
}
.leftalgn {
    text-align: left!important;
	float: none!important;
}
.call_img{
	vertical-align: middle;
	width: 18px;
	height: 20px;
}
div#expand{
	display:none;
}
div#expand_ship{
	display:none;
}
div#expand_bill{
	display:none;
}
.table{
	display:none;
}
.footer_l{
	border-top: 2px solid #e7e7e7;
	height: 50px;
	clear: both;
	text-align: center;
}
.copytxt{
	line-height: 48px;
	font-weight: 0;

}
.fontDtls{
	font-size:12px; 
	color:#555555;
	font-family:Roboto; 
	font-weight:0;
	line-height:1.4
}
.btnStyle{
	padding: 5px 15px;
	border: 2px solid #767676;
    border-radius: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: normal;
}
.blackFont, .blackFont a {
	color: #000000;
	background-color: #99FF99;
}
.greyFont, .greyFont a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #555554;
	background-color: #99FF99;
}

#overlay {
   	position: fixed; 
   	height: 100%; 
   	width: 100%; 
   	top:0; 
   	left: 0; 
   	z-index:9999;
   	padding-top: 250px;
   	padding-left: 550px;
   	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

main{min-height:480px;}

.boomerang_main{
	width:650px;
	position: relative;
}
.boomrang_main_heading{
	color:#53a614;
}
.boomerang_div_grey{
	background-color: #f2f2f1;
}
.boomerang_div_white{
	background-color: #FFFFFF!important;
}
.layout {
  display: flex;
  flex-wrap: wrap;
  /*margin-top: -1em;
  margin-left: -3.5em;*/
  align-items: center;
	padding: 20px 0px;
}
.layout:not(:first-of-type) {
  /*margin-top: 2em;*/
}
.layout:nth-child(even) {
  flex-direction: row-reverse;
}
.layout__item {
  /*padding-top: 2em;*/
  padding-left: 2.5em;
}
.layout__item_r {
  /*padding-top: 2em;*/
  padding-right: 2.5em;
}
.layout__item--body {
  flex-grow: 9999;
  flex-basis: 15rem;
	position: relative;
}
.layout__item--figure {
  margin-right: auto;
  flex-grow: 1;
}
h2.layout_title_bg_l{
	border-radius: 0px 100px 100px 0px;
	-webkit-border-radius: 0px 100px 100px 0px;
	-moz-border-radius: 0px 100px 100px 0px;
	background: #53a614;
	opacity: .8;
	position: absolute;
	left: 0px;
	top: 0px;
	color:#FFFFFF;
	padding: 3px 28px;
	font-weight: 500;
	font-size: 1.5em;
}
h2.layout_title_bg_r{
	border-radius: 100px 0 0 100px;
	-webkit-border-radius: 100px 0px 0px 100px;
	-moz-border-radius: 100px 0px 0px 100px;
	background: #53a614;
	opacity: .8;
	position: absolute;
	right: 0px;
	top: 0px;
	color:#FFFFFF;
	padding: 3px 28px;
	font-weight: 500;
	font-size: 1.5em;
}
p.layout_text{
	margin-top: 3.5em;
	text-align: left;
}
p.layout_text_r{
	margin-top: 3.5em;
	text-align: right;
}
@supports ((max-width: -webkit-max-content) or (max-width: -moz-max-content) or (max-width: max-content)) {
  .layout__item--figure {
    min-width: 15rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    flex-basis: 15rem;
    flex-grow: 99999;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}

.layout__item * + * {
  margin-top: 1em;
}

@media screen and (max-width: 480px) 
{
	main{min-height:250px;}
	.header{
		margin:0 10px;
	}
	.call_img{
		vertical-align: middle;
		width: 14px;
		height: 16px;
	}
	.needhelp{
		font-size: 16px;
		color: #6b9532;
	}
	.needhelp_call{
		font-size: 12px;
	}
	.mb-30{
		margin:0;
	}
}


/*Matching tool popup css start*/
.white_content_gaylord_new1 {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 1200px;
    height: 520px;
	padding: 16px;
	border: 1px solid gray;
	background-color: white;
	z-index:1002;
	-moz-box-shadow:    6px 6px 6px 6px #888888;
	-webkit-box-shadow: 6px 6px 6px 6px #888888;
	box-shadow:        6px 6px 6px 6px #888888;
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=6, OffY=6, Color=#888888);
    /*top: 50%;
    left: 50%;*/
    transform: translate(-50%);
}
.scrollit {
    overflow: auto;
    width: 1200px;
    height: 450px;
}
.white_content_gaylord_new {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 1200px;
    height: 520px;
	padding: 16px;
	border: 1px solid gray;
	background-color: white;
	z-index:1002;
	-moz-box-shadow:    6px 6px 6px 6px #888888;
	-webkit-box-shadow: 6px 6px 6px 6px #888888;
	box-shadow:        6px 6px 6px 6px #888888;
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=6, OffY=6, Color=#888888);
}
/*Matching tool popup css ends*/

.header-comp-title{
	float: left;margin-top: 50px;
	width: 62%;
}
@media screen and (max-width: 1440px) 
{
	.header-comp-title {
	  width: 60%;
	}
}

@media screen and (max-width: 1366px) 
{

	.white_content_gaylord_new1 {
		width: 90%;
	}
	.scrollit {
		width: 100%;
	}
	.scrollit table.basic_style {
		width: 100%;
	}
	.header-comp-title {
	  width: 60%;
	}
}

@media screen and (max-width: 1280px) 
{

	.header-comp-title {
	  width: 57%;
	}
}
@media screen and (max-width: 1152px) 
{

	.header-comp-title {
	  width: 52%;
	}
}
@media screen and (max-width: 1039px) 
{

	.header-comp-title {
	  width: 50%;
	}
}

@media screen and (max-width: 1024px) 
{
	.header-comp-title{
		float: left;margin-top: 50px;
		width: 46%;
	}
	#left {
	  flex: unset;
	}
}
@media screen and (max-width: 1004px) 
{
	#container {
	  flex-wrap: wrap;
	}
	#container > * {
	  min-width: 0;
	  height: auto;
	}
	#middle {
	  flex: unset;
	  order: 3;
	  width: 100%;
	}
	#left {
	  flex: 1;
	  order: 1;
	}
	#right {
	  order: 2;
	}
	main {
	  margin-top: 154px;
	}
	.middle-col h3{
		padding: 10px 0px;
	}
}
@media screen and (max-width: 980px) 
{
	.header-comp-title{
		float: left;margin-top: 50px;
		width: 40%;
	}
	
}
@media screen and (max-width: 880px) 
{
	.header-comp-title{
		float: left;margin-top: 50px;
		width: 37%;
	}
	
}

@media screen and (max-width: 768px) 
{
.header {
    margin: 0px 10px;
    text-align: center;
}
}
@media screen and (max-width: 550px) 
{
	main {
		margin-top: 200px;
	}
	.contact_number {
		float: right;
		padding-top: 12px;
		margin-right: -100%;
		display: contents;
		margin-top: 10px;
	}
	.header-comp-title {
		float: right;
		margin-top: 10px;
		width: 100%;
	}
	#left {
	  flex: unset;
	  width: 100%;
	}
	.logo_img {
		margin-top: 10px;
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}
	.logo_display {
	  display: block;
	  height: auto;
	  margin-top: 20px;
	  margin-bottom: 10px;
	}
}