.display_maintitle{
	font-size: 13px;
	padding: 3px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background: #98bcdf;
	/*white-space:nowrap;*/
}
.display_maintitle_inact{
	font-size: 12px;
	padding: 3px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background: #f9b0ac;
	/*white-space:nowrap;*/
}

.basic_style{
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif!important; 
	font-size: 13px;
}
.invspec_title{
	font-size: 22px;
	margin-bottom:4px;
	margin-top:0px;
}
.invspec_desc{
	font-size: 12px;
}
.save_btn{
	width: 120px;
	font-size: 12px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.browse_btn{
	font-size: 12px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.store_inv_txt{
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif!important; 
	font-size: 13px;
}
.link_text{
	padding-left: 4px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif!important; 
}
ul.link_list{
	list-style: none;
	padding: 0px;
	margin-top: 4px;
}
ul.link_list li{
	font-size: 12px;
	margin-bottom: 4px;
}
ul.link_list li a{
	color: #000;
	font-size: 12px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif!important; 
	font-weight: normal;
}
.space-width{
	width: 12px;
}
.space-height{
	height: 12px;
}
.section_heading{
	background: #ABC5DF;
	padding-left: 4px;
	font-size: 13px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif!important; 
}
.form_component {
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.form_textbox {
	width:80%;
}
.form_select_dd {
	width:80%;
}
.size_textbox{
	width: 10%;
}
.form_label{
	font-size: 12px;
	padding-top: 2px;
	padding-left: 4px;
	width: 180px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.show_log_txt{
	font-size: 12px;
}
.table_headingtxt{
	font-size: 12px;
	background: #e4e4e4;
	font-weight: 600;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important;
}
.table_txt{
	font-size: 12px;
	font-weight: 400;
}
.formula_oprt{
	width: 20%;
}
.formula_dd{
	width: 40%;
}
/*Tooltip style*/
.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #464646;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 7px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
/*white-space: nowrap;*/
	font-size: 12px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif!important;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 35%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip_large {
  position: relative;
  display: inline-block;

}
.tooltip_large .tooltiptext_large {
  visibility: hidden;
  width: 400px;
  background-color: #464646;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 7px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}
.tooltip_large .tooltiptext_large::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip_large:hover .tooltiptext_large {
  visibility: visible;
}
/*right tip*/
.tooltip_right {
  position: relative;
  display: inline-block;

}
.tooltip_right .tooltiptext_right {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 7px;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
font-size: 11px;
}
.tooltip_right .tooltiptext_right::after {
  content: " ";
  position: absolute;
  top: 30%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.tooltip_right:hover .tooltiptext_right {
  visibility: visible;
}
/*--------*/
.fa-info-circle{
	font-size: 9px;
	color: #767676;
}
/*End tooltip style*/
.black_overlay{
		display: none;
		position: absolute;
	}
	.white_content {
		display: none;
		position: absolute;
		border: 2px solid black;
		background-color: white;
		overflow:auto;
		height:600px;
		width:850px;
		z-index:1002;
		margin: 0px 0 0 0px; 
		padding: 10px 10px 10px 10px;
		border-color:black; 
		border-width:2px;
	}
.image_line {
  		height: 1px;
        background-color: #E6E6E6;
        width: 100%;
        margin: 0 auto;
        background-image: linear-gradient(left , #EBEBEB 2%, #E6E6E6 50%, white 98%);
        background-image: -o-linear-gradient(left , #EBEBEB 2%, #E6E6E6 50%, white 98%);
        background-image: -moz-linear-gradient(left , #EBEBEB 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-linear-gradient(left , #EBEBEB 2%, #E6E6E6 50%, white 98%);
        background-image: -ms-linear-gradient(left , #EBEBEB 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, #EBEBEB), color-stop(0.5, #EBEBEB), color-stop(0.98, white) );
}
.info_s{
	font-size: 12px;
	margin-top: 2px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.display_table{
	font-size: 11px;
	padding: 3px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background: #cbcbcb;
}
.display_table a{
	color: #004CB3;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.display_table_alt{
	font-size: 11px;
	padding: 3px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background: #F7F7F7;
}
.display_table_alt a{
	color: #004CB3;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.display_table_expand_v{
	font-size: 11px;
	padding: 3px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background: #ffe3c0;
}
.display_table_expand_v a{
	color: #004CB3;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.display_table_expand_v_alt{
	font-size: 11px;
	padding: 3px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background: #fff4e6;
}
.display_table_expand_v_alt a{
	color: #004CB3;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.display_inact{
	font-size: 11px;
	padding: 3px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background: #f5dddc;
}
.display_title_inact{
	font-size: 11px;
	padding: 3px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background: #f9c1be;
}

.display_title{
	font-size: 12px;
	padding: 3px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background: #ABC5DF;
	/*white-space:nowrap;*/
}

.display_table_st{
	font-size: 11px;
	padding: 3px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background:#dfdfdf;; 
}
.display_table_st a{
	font-size: 11px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.display_inact{
	font-size: 11px;
	padding: 3px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background: #f5dddc;
}

.display_inact_alt{
	font-size: 11px;
	padding: 3px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background: #f9f3f3;
}


.display_title_inact{
	font-size: 12px;
	padding: 3px;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background: #f9c1be;
	/*white-space:nowrap;*/
}
.new_text{
        font-size: 12px;
		font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    }
.sub_tables_s tr:nth-child(even){
	background:#EBEBEB;
	padding: 2px;
}
.sub_tables_s tr:nth-child(odd){
	background:#F7F7F7;
}
input[type=text]:disabled {
  background: #dddddd;
	border: 1px solid #585858;
}
.sub_tables_s_1 tr:nth-child(2), .sub_tables_s_1 tr:nth-child(3), .sub_tables_s_1 tr:nth-child(8), .sub_tables_s_1 tr:nth-child(9), .sub_tables_s_1 tr:nth-child(14), .sub_tables_s_1 tr:nth-child(16){
	background:#EBEBEB;
	padding: 2px;
}
.sub_tables_s_1 tr:nth-child(5), .sub_tables_s_1 tr:nth-child(6), .sub_tables_s_1 tr:nth-child(11), .sub_tables_s_1 tr:nth-child(12), .sub_tables_s_1 tr:nth-child(15){
	background:#F7F7F7;
	padding: 2px;
}


