.parentdiv {
  	display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
  	flex-direction: row;
  	/*padding: 10px;*/
	color: #535353;
	
}

.parentdiv .innerdiv, .parentdiv .innerdiv_2 {
  padding-right: 10px;
  flex-grow: 1;
  width: 48%;
	position: relative;
}

.parentdiv .innerdiv_2 {
  padding-right: 0;
	background-color: #fafafa;
	margin-left: 30px;
	border-left: 1px solid #e1e1e1;
	
}
.inner-content{
	width: 80%;
	margin: 30px;
}
.inner-content-shipping{
	width: 80%;
	margin: 30px;
}
.sidebar-sept{
	border-bottom: 1px solid #e1e1e1;
	width: 100%; margin: auto; margin-top: 5%; margin-bottom: 5%;
	height:0px;
}
.sidebar-sept-intable{
	border-bottom: 1px solid #e1e1e1;
	width: 100%; margin: auto; margin-top: 1%; margin-bottom: 1%;
	height:0px;
}
.sidebartxt{
	font-size: 13px;
	line-height: 20px;
}
.payment-due__price {
    font-size: 1.23em;
    font-weight: 500;
    letter-spacing: -0.04em;
    line-height: 1em;
	color: #323232;
}
.sidebar-table{
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
	font-size: 14px;
}
table.sidebar-table tr {
  padding: .35em;
}
table.qty-table th{
	background-color: #f8f8f8;
}
table.sidebar-table th,
table.sidebar-table td {
  padding: .625em;
	/*border: 1px solid #ddd;*/
}

table.sidebar-table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
	background-color: #e4f9e3;
}
.caltxt{
	font-size: 11px;
}
.left_form{
	width: 100%;
	float: left;
}
.left-col{
	width: 45%;
	float: left;
	display: table-cell;
}
.right-productinfo{
	width: 48%;
	float: right;
	background-color: #fafafa;
	padding-left: 4%;
	background-position: left top;
	position: relative;
	color: #535353;
	display: table-cell;
}
.item1{
	font-size: 16px;
	font-weight: 500;
}
.frm-txt{
	text-align: left;
}
.frm-txt-shipping{
	font-size: 1.2857142857em;
	font-weight: 500;
	color: #333333;
	display: inline-block;
}
.frm-subtext{
	line-height: 30px;
}
.contact-form-option{
	text-align: left;
}
.frm-txt-check{
	font-size: 13px;
	font-weight: 400;
	display: inline-block;
	padding-left: 30px;
}
.frm-txt-check-contact{
	font-size: 13px;
	font-weight: 400;
	display: inline-block;
}

fieldset {
    margin: 0;
        margin-top: 0px;
    padding: 0;
    border: 0;
}
.fieldset {
    margin: -0.4285714286em;
    zoom: 1;
}

.fieldset:after, .fieldset:before {
    content: "";
    display: table;
}
.floating-labels .field--half {
    width: 50%;
}
.field {
    width: 100%;
    float: left;
    padding: 0.4285714286em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.field__input-wrapper {
    position: relative;
}
.floating-labels .main .field__label {
    color: #737373;
}
.animate-floating-labels .field__label {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.floating-labels .field__label {
    font-size: 0.8571428571em;
    font-weight: normal;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0.4285714286em;
    margin-left: 1px;
    padding: 0 0.9166666667em;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
}
.field__label--visible {
    display: block;
}
.field__label {
    text-align: left;
    font-weight: 500;
    margin: 0.5em 0;
        margin-top: 0.5em;
        margin-left: 0px;
    display: none;
}
.field__input {
    border: 1px transparent solid;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    background-clip: padding-box;
    border-radius: 5px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0.9285714286em 0.7857142857em;
    word-break: normal;
    line-height: inherit;
}
.left_form .field__input {
    background-color: white;
    color: #333333;
    border-color: #d9d9d9;
}
.animate-floating-labels .field__input {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.field__input:focus {
	outline:none;
	border-color: #4eb84b;
	box-shadow:0 0 0 1px #4eb84b;
	-webkit-box-shadow:0 0 0 1px #4eb84b;
}
.field__input-wrapper--icon-right .field__input {
    padding-right: 2.8571428571rem;
}
.floating-labels .field--third {
    width: 33.3333333333%;
}
.field__icon {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 2.8571428571rem;
}
.field__input-wrapper--icon-right .field__icon {
    right: 0;
}
.frm-term-text{
	width: 100%;
	margin: 20px 0px;
	text-align: left;
}
.frm-checktext{
	display: inline-block;
	width: 90%;
}
.collapsible{
	display: none;
}
.new-acct-margin{
	/*margin-left: 80px;*/
}
.contactinfo-flex {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: -0.2857142857rem;
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
h2.contactinfo__title{
	font-size: 18px;
	font-weight: 400;
	padding-left: 5px;
}

.contactinfo-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	width: 100%;
}

.contactinfo-container > div.cntinfo {
	width: 50%;
	text-align: left;
}
.layout-flex__item{
	text-align: right;
}


.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    width: 2px;
    height: 2px;
    margin: -2px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}
@media screen and (max-width: 1024px) 
{
	.inner-content-shipping {
		width: 90%;
		margin: 20px;
	}
}

@media screen and (max-width: 980px) 
{
	.parentdiv .innerdiv {
		width: 42%;
	}
	.parentdiv .innerdiv_2 {
   		 margin-left: 20px;
		width: 45%;
	}
	.inner-content {
    	width: 90%;
	}
	.inner-content-shipping {
		width: 90%;
	}
	
}
@media screen and (max-width: 880px) 
{
	.parentdiv{
		flex-wrap: wrap;
	}
	.parentdiv .innerdiv {
		width: 100%;
		padding-right: 0px;
		order: 2;
	}
	.parentdiv .innerdiv_2 {
   		 margin-left: 0px;
		width: 100%;
		order:1;
		border-left: none;
	}
	.collapsible {
		border:none;
	  	background-color: #fafafa;
		border-bottom: 1px solid #e6e6e6;
		color: #4eb84b;
		cursor: pointer;
		padding: 14px;
	 	width: 100%;
		text-align: left;
		outline: none;
		font-size: 13px;
		transition: color 0.2s ease-in-out;
		display: table;
	}

	.active, .collapsible:hover {
	  background-color: #F3F3F3;
	}

	#order-content {
	  display: none;
	  overflow: hidden;
	transition: opacity 0.6s linear;
	}
	.active{
		opacity: 1;
		-webkit-transition: all 0.2s ease-out;
    	transition: all 0.2s ease-out;
	}
	.show-order{
		display: table-cell;
		text-align: left;
	}
	.show-order-total{
		display: table-cell;
		text-align: right;
		font-size: 1.2857142857em;
		line-height: 1em;
		color: #333333;
	}
	.order-summary-toggle__dropdown {
		vertical-align: middle;
		-webkit-transition: fill 0.2s ease-in-out;
		transition: fill 0.2s ease-in-out;
		fill: #4eb84b;

	}
	.sidebar-table {
		font-size: 14px;
	}
	.payment-due__price {
    	font-size: 1.3em;
	}
	ol.name-values li label {
    	width: 20%;
	}
	.frm-checktext {
		width: 92%;
	}
}
@media screen and (max-width: 800px) 
{
	.frm-txt-check {
		padding-left: 0px;
	}
	.sidebar-table {
		font-size: 13px;
	}
	.payment-due__price {
    	font-size: 1.23em;
	}
}
@media screen and (max-width: 768px) 
{
	.parentdiv{
		flex-wrap: wrap;
	}
	.parentdiv .innerdiv {
		width: 100%;
		padding-right: 0px;
		order: 2;
	}
	.parentdiv .innerdiv_2 {
   		 margin-left: 0px;
		width: 100%;
		order:1;
		border-left: none;
	}
	.collapsible {
		border:none;
	  	background-color: #fafafa;
		border-bottom: 1px solid #e6e6e6;
		color: #4eb84b;
		cursor: pointer;
		padding: 14px;
	 	width: 100%;
		text-align: left;
		outline: none;
		font-size: 13px;
		transition: color 0.2s ease-in-out;
		display: table;
	}

	.active, .collapsible:hover {
	  background-color: #F3F3F3;
	}

	#order-content {
	  display: none;
	  overflow: hidden;
	transition: opacity 0.6s linear;
	}
	.active{
		opacity: 1;
		-webkit-transition: all 0.2s ease-out;
    	transition: all 0.2s ease-out;
	}
	.show-order{
		display: table-cell;
		text-align: left;
	}
	.show-order-total{
		display: table-cell;
		text-align: right;
		font-size: 1.2857142857em;
		line-height: 1em;
		color: #333333;
	}
	.order-summary-toggle__dropdown {
		vertical-align: middle;
		-webkit-transition: fill 0.2s ease-in-out;
		transition: fill 0.2s ease-in-out;
		fill: #4eb84b;

	}
	.sidebar-table {
		font-size: 14px;
	}
	.payment-due__price {
    	font-size: 1.3em;
	}
	ol.name-values li label {
    	width: 20%;
	}
	.frm-checktext {
		width: 92%;
	}
}
@media screen and (max-width: 550px) 
{
	.frm-checktext {
		width: 90%;
	}
	ol.name-values li label {
		width: 100%;
		display: block;
	}
	ol.name-values li span {
		display: block;
		width: 100%;
	}
}
@media screen and (max-width: 468px) 
{
.sidebar-table {
		font-size: 13px;
	}
}
@media screen and (max-width: 360px) 
{
	.inner-content {
		margin: 10px;
	}
	.sidebar-table {
		font-size: 13px;
		table-layout:auto;
	}
	.table_mob_div{
		overflow-x:auto;
	}
	.frm-checktext {
		width: 80%;
	}
	.new-acct-margin {
		/*margin-left: 40px;*/
	}
	.contactinfo-container {
		flex-wrap: wrap;
	}
	.contactinfo-container > div.cntinfo {
		width: 100%;
		text-align: left;
	}
	.layout-flex__item {
		text-align: left;
		padding-left: 5px;
		padding-top:8px;
		margin-bottom: 10px;
	}
	.fieldset {
    	margin: -0.4285714286em;
		margin-right: 0em;
	}
}

@media screen and (max-width: 320px) 
{
	table.sidebar-table th {
		font-size: .68em;
	}
	.sidebar-table {
		font-size: 12px;
	}
}